.english{
    font-family:Cambria; 
}

.form{
    width: 40vw;
    margin: 0 auto;
}

.bg-photo-home{
    background-image:url("../images/kda_home_bg.jpg");
    height: 750px;
    background-size: cover;
}

.bg-photo-admin{
    background-image:url("../images/kda_gp.jpg");
    height: 768px;
    background-size: cover;
    background-repeat: no-repeat;
}

.dp-btn{
    background-image: url("../images/dp_icon.png");
    background-size: cover;
    background-position: center;
    height: 60px;
    margin-top: 50px;
    width: 10vw;
    margin-right: 20px;
}

.dp-btn li{
    background-color: transparent !important;
    border: none;
}

.dp-btn ul{
    background-color: transparent !important;
}

.dp-btn a{
    color: aquamarine;
    text-decoration: none;
}

.bg-photo-create{
    background-image:url("../images/akali.png");
    height: 768px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: antiquewhite;
}

.nav-color{
    background-color: #abe8f3;;

}

.admin-list{
    background-image: url('../images/kda_side_bg.jpg');
    background-size: cover;
    background-position: center;
    height: 700px;
    margin-right: 20px;
}
.admin-list li{
    background-color: transparent !important;
    border: none;
}

.admin-list li a{
    color: #abe8f3;
    text-decoration: none;
}

