.english{
    font-family:Cambria; 
}

.form{
    width: 40vw;
    margin: 0 auto;
}

.bg-photo-home{
    background-image:url("../images/kda_home_bg.jpg");
    height: 750px;
    background-size: cover;
}

.bg-photo-admin{
    background-image:url("../images/kda_admin_home_bg.jpg");
    height: 768px;
    background-size: cover;
    background-repeat: no-repeat;
}

.dp-btn{
    background-image: url("../images/dp_icon.png");
    background-size: cover;
    background-position: center;
    height: 60px;
    margin-top: 50px;
    width: 10vw;
    margin-right: 20px;
}

.dp-content{
    width: 15vw;
    border: 0px;
    transform: none !important;
    right: 30;
}

.dp-btn li{
    background-color: transparent !important;
    border: none;
}

.dp-btn ul{
    background-color: transparent !important;
}

.dp-btn a{
    color:white;
    text-decoration: none;
}

.bg-photo-create{
    background-image:url("../images/akali.png");
    height: 768px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: antiquewhite;
}

.nav-color{
    background-color: #abe8f3;;

}

.admin-list{
    background-image: url('../images/kda_side_bg.jpg');
    background-size: cover;
    background-position: center;
    height: 700px;
    margin-right: 20px;
}
.admin-list li{
    background-color: transparent !important;
    border: none;
}

.admin-list li a{
    color: #abe8f3;
    text-decoration: none;
}

.pagination li{
    padding: 5px;
    color: white;
} 

.sidebar_div{
    padding-bottom: 30px;
    border-bottom: 2px solid white;
}

.sidebar_list_1{
    background-image: url('../images/sidebar_home_bg\(1\).jpg');
    background-size: cover;
    background-position: top;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sidebar_list_2{
    background-image: url('../images/sidebar_home_bg\(2\).jpg');
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}

.sidebar div ul li{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}



